@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root{
    --primary-color : 89, 165, 145;
    --surface-color : 247, 247, 248;
    --secondary-color: 7, 14, 29;
    --surface-background: 167, 178, 186;
    --tertiary-color : 63, 105, 102;
    --tertiary-background : 111, 121, 137;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.nav-full > div{
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(var(--secondary-color),0.6); 
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}